.CallToAction{
    margin:0 auto;
    display: flex;
    padding: 10rem 0;
    width: 80rem;
}
.CallToAction .ctaWrapper{
    padding: 1rem 1rem 1rem 1rem;
    margin: 0 auto ;
    display: flex;
    max-width: 80rem;
}
.ctaContainer{
    position: absolute;
    width: 80rem;
    display: flex;
    gap: 5rem;
    justify-content: space-between;
    border-radius:10px ;
    background: #0000008f;
    backdrop-filter:blur(15px);


}
.CallToAction .ctaWrapper::after{
    content: "";
    height: 400px;
    width: 1255px;
    background: linear-gradient(90deg, rgba(155,81,224,1) 0%, rgba(48,129,237,1) 100%);
    filter: blur(30px);
    z-index: -1;
    opacity: 0.7;
}
.CallToAction .ctaWrapper .ctaContent{
    display: flex;
    flex-direction: column;
    gap:2rem;

}
.ctaWrapper .ctaContent h2{
    max-width: 15ch;
    font-size: 36px;
    font-weight: 400;
    color: #fff;
}
.ctaWrapper .ctaContent p{
    font-weight: 400;
    font-size: 17px;
    max-width: 30ch;
    color:#C4C4C4;
    ;
}
.ctaBtn{
    border-radius: 10px;
    padding: 12px 50px;
    color: black;
    background-color: #fff;
    border: 1px solid #fff;
}