.Footer {
  padding-top: 3rem;
  width: 100%;
  background-image: linear-gradient( #0b0b0e 85%,#101010 15%);
}
.Footer .footerWrapper {
  padding: 1rem 1rem 1rem 1rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  max-width: 80rem;
}
.Footer .footerWrapper .footerContent {
  display: flex;
  justify-content: space-between;
  padding-bottom: 3rem;
}

.footerWrapper .footerContent .footerLogoDiv {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.footerContent .footerLogoDiv .logo {
  width: 70%;
}
.footerContent .footerLogoDiv p {
  max-width: 25ch;
  font-size: 1.125rem;
  font-weight: 500;
  color: #fff;
}
.footerContent .footerInput form{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.footerContent .footerInput span {
    max-width: 43ch;
    font-size: 0.875rem;
    font-weight: 300;
    color: #fff;
}
.footerInput .divInput .input{
  width: 100%;
  border: none;
  border-radius: 10px;
  padding: 1.5rem 1rem;
  background-color: #282828;
}

.Footer .footerWrapper .footerCopy {
  display: flex;
  justify-content: space-between;
}
.footerWrapper .footerCopy p{
  color: #fff;
  font-size: 0.75rem;
  font-weight: 400;
}
.footerWrapper .footerCopy .footerTerms{
  display: flex;
  gap:2rem;
}
.footerCopy .footerTerms .linkA{
  color:#fff;
  font-size: 0.875;
  font-weight: 400;
}
.btnDiv{
  padding: 4.7rem 0 0 13rem;
  position: absolute;
  display: flex;
}
.footerContent .footerInput .footerBtn{
  padding: 0.7rem 1.7rem;
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  border:1px solid #8c01fa;
  border-radius: 10px;
  background: #8c01fa;
}
.footerContent .footerInput .footerBtn:hover{
  background: #000;
  border: 1px solid #fff;
}

@media(max-width) {
  .btnDiv{
    padding-left: 20rem;
  }

}