:root{
  --color-white:#fff;
  --color-black:black;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(#000000, #010101 );
  font-family: "Inter", arial;
  
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}